name: m5_mac
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.0.0 <4.0.0'


dependencies:
  flutter:
    sdk: flutter
  excel: ^4.0.2
  file_picker: ^5.3.3
  shared_preferences: ^2.2.0
  flutter_libserialport: ^0.4.0
  provider: ^6.0.5
  path_provider: ^2.0.15
  url_launcher: ^6.1.12

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/icons/icon.ico
